extends layout

block content
    style.
        body{
            overflow: hidden;
            background-color: #000;
            user-select: none;
        }
    div#canvas

    script(src="/javascripts/assets/protoclass.js")
    script(src="/javascripts/assets/box2d.js")
    script(src="/javascripts/assets/Main.js")