extends layout

block content
  section.container
    h1
    a(href="/home") 主页面
  style.
    .container{
      background: url(/images/lg.jpg) center center no-repeat;
      background-size: 100%;
    }

