extends layout

block content
  section.container
    div.article-list
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
      div.article-item
        h1 王磊说:
        span 早起的鸟儿有虫吃
  style.
    .container{
      background: url(/images/qn.jpg) center center no-repeat;
      background-size: cover;
    }
    .article-list{
      display: flex;
      flex-wrap: wrap;
      width: 900px;
      margin: auto;
      background: rgba(0,0,0,.6);
      border-radius: 10px;
      padding-top: 20px;
    }
    .article-item{
      width: 300px;
      margin-bottom: 20px;
      text-align: center;
      color: #bcbcbc;
    }
    .article-item:hover{
      color: rgb(167,32,57);
    }

