extends layout

block content
  link(rel="stylesheet" href="/stylesheets/index.css")
  section.container
    div.left-content
      ul.divide
        li.active(category="all")
          i.iconfont.icon-quanbufenlei
          span 全部分类
        each val in listTip
          li(category=val.tip)
              i.iconfont(class="#{val.icon}")
              span=val.name
    div.center-content
    div.personl-content
      -if(user)
        span.publish 发表文章
    div.right-content
    div.right-mask
  script(src="/javascripts/index.js")
