doctype html
html
  head
    meta(charset="utf-8")
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.common-head
      ul.header
        li 首页
        li 关于
    <span class="blank"></span>
    block content
    footer.common-foot
      p.footer 这是footer
  script(type='text/javascript', src='/javascripts/js.js')