doctype html
html
  head
    meta(charset="utf-8")
    title=title
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.common-head
      ul.header
        li= name
        li
          a(href="/") 首页
        li
          a(href="/home") 关于
        -if(name)
          li.login.pop
            a(href="javascript:void(0)") 用户
          li.regist.pop
            a(href="javascript:void(0)") 注销
        -else
          li.login.pop
            a(href="javascript:void(0)") 登录
          li.regist.pop
            a(href="javascript:void(0)") 注册
    <span class="blank"></span>
    div.mask
    section.pop-login.alertWin
      div
        p
          input(type="text" placeholder="用户名" name="username" id="username")
        p
          input(type="text" placeholder="密码" name="password" id="password")
        p
          input.login-btn.btn(type="button" value="登录")
        div
          a.regist(href="javascript:void(0)") 没有账号？点击注册
    section.pop-reg.alertWin
      p
        input(type="text" placeholder="用户名" name="username" id="username")
      p
        input(type="text" placeholder="邮箱")
      p
        input(type="text" placeholder="密码" name="password" id="password")
      p
        input(type="text" placeholder="再次输入密码")
      p
        input.reg-btn.btn(type="button" value="注册")
      div
        a.login(href="javascript:void(0)") 已有账号？点击登录
    div.error
    block content
    footer.common-foot
      p.footer 这是footer
  script(type='text/javascript', src='/javascripts/js.js')