doctype html
html
  head
    meta(charset="utf-8")
    title=title
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/iconfont.css')
    link(rel='icon' href="/images/bitbug).ico")
  body
    header.common-head
      div.logobox
        img(src="/images/lu.jpg")
      ul.header
        li
          span.change-color 变
        li
          a(href="/") 首页
        li
          a(href="/home")
            i.iconfont.icon-iconset0103
            span 关于
        li
          a(href="/funny")
            span 轻松一刻
        -if(user)
          li.personal-page
            a(href="/admin/personal")
              i.iconfont.icon-yonghu-tianchong
              span=user.username
          li.logout
            a(href="javascript:void(0)")
              i.iconfont.icon-dianyuan
              span 注销
        -else
          li.login.pop
            a(href="javascript:void(0)")
              i.iconfont.icon-yonghu-tianchong
              span 登录
          li.regist.pop
            a(href="javascript:void(0)") 注册
    <span class="blank"></span>
    div.mask
    section.pop-login.alertWin
      div.logo
      div
        p
          input(type="text" required='' name="username" id="log-username")
          label(alt='请输入名称' placeholder='名称')
        p
          input(type="password" required='' name="password" autocomplete="off" id="log-password")
          label(alt='请输入密码' placeholder='密码')
        p
          input.login-btn.btn(type="button" value="登录")
        div
          a.regist(href="javascript:void(0)") 没有账号？点击注册
    section.pop-reg.alertWin
      p
        input(type="text" required='' name="username" id="username")
        label(alt='请输入用户名' placeholder='用户名')
      p
        input(type="text" required='')
        label(alt='请输入邮箱' placeholder='邮箱')
      p
        input(type="password" required='' name="password" autocomplete="off" id="password")
        label(alt='请输入密码' placeholder='密码')
      p
        input(type="password" required='' autocomplete="off")
        label(alt='请再次输入密码' placeholder='密码验证')
      p
        input.reg-btn.btn(type="button" value="注册")
      div
        a.login(href="javascript:void(0)") 已有账号？点击登录
    div.error
    block content
    footer.common-foot
      p.footer 这是footer
  script(type='text/javascript', src='/javascripts/js.js')