.container{
    display:flex;
}
.left-content{
    width: 18%;
    position: fixed;
}
.left-content .divide{
    height: calc(100% - 32px);
    list-style: none;
    margin: 30px 0 0 15px;
    border: 1px solid #e7eaec;
    background-color: #fff;
}
.left-content .divide li{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 2px 0 0;
}
.left-content .divide li:hover{
    color: #f60;
}
.left-content .divide li span{
    white-space: nowrap;
}
.active{
    background-color: #fff5ee;
    border-bottom: 1px solid #f8d4bc!important;
    border-top: 1px solid #f8d4bc!important;
    color: #f60;
}
.left-content .divide li i{
    margin-right: 10px;
}
.center-content{
    flex: 0 0 50%;
    margin-left: 20%;
}
.right-content{
    position: fixed;
    transition: right 0.5s ease 0s;
    background-color: #fff;
    width: 60%;
    right: -60%;
    height: calc(100% - 92px);
    z-index: 11;
    overflow-y: scroll;
}
.right-mask{
    position: fixed;
    z-index: 10;
    top: 70px;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    background: rgba(0,0,0,.6);
    border-radius: 10px;
    padding-top: 20px;
}
.article-item{
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    color: #bcbcbc;
}
.article-item:hover{
    color: rgb(167,32,57);
}
.item{
    padding: 30px 0 20px 20px;
    color: #585f69;
    margin-top: 10px;
    box-shadow: 0 0 10px;
    position: relative;
    transition: all .5s ease;
}
.item:hover{
    box-shadow:  0 0 10px #00B7FF;
}
.item>a{
    display: block;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.item .title{
    font-size: 20px;
    line-height: 1.5;
    font-size: 20px;
    height: 30px;
    margin: 10px 0;
}
.item .title a{
    color: inherit;
    text-decoration: none;
    z-index: 2;
    position: relative;
}
.item .title a:hover{
    color: #19aa8d;
}
.icon-biaoqian-:before{
    margin-right: 10px;
}
.auth{
    margin: 0 50px;
}
.item .arti_desc{
    padding: 10px;
}

.personl-content{
    flex: 0 0 20%;
}
.personl-content .publish{
    cursor: pointer;
    margin: auto;
    width: 200px;
    margin-top: 40px;
    padding: 10px;
    background: #00B7FF;
    color: #fff;
    text-align: center;
    font-size: 25px;
    display: block;
}

.personl-content .publish:hover{
    background: rgb(213,71,85);
}

.delete{
    z-index: 2;
    position: relative;
}
.delete:hover{
    color: red;
    cursor: pointer;
}
.review-edit {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background: linear-gradient(to bottom,#fff,#dcdcdc,#000);
    display: none;
    z-index: 20;
}

.btn-box {
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
}

.btn-box>span {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
}

.btn-box>span:hover{
    cursor: pointer;
}

span.sure {
    background: coral;
    margin-right: 20px;
}

span.no {
    background: #dcdcdc;
}
.edit-tip{
    padding: 30px;
    text-align: center;
    font-size: 28px;
}