.container{
    display:flex;
}
.left-content{
    width: 18%;
    position: fixed;
}
/*.left-content:hover{*/
/*transform: translate(0);*/
/*}*/
.left-content .divide{
    height: calc(100% - 32px);
    list-style: none;
    margin: 30px 0 0 15px;
    border: 1px solid #e7eaec;
    background-color: #fff;
}
.left-content .divide li{
    padding-right: 80px;
    cursor: pointer;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 2px 0 0;
}
.left-content .divide li:hover{
    color: #f60;
}
.active{
    background-color: #fff5ee;
    border-bottom: 1px solid #f8d4bc!important;
    border-top: 1px solid #f8d4bc!important;
    color: #f60;
}
.left-content .divide li i{
    margin-right: 10px;
}
.center-content{
    flex: 0 0 60%;
    margin-left: 20%;
}
.right-content{
    position: fixed;
    transition: right 0.5s ease 0s;
    background-color: #fff;
    width: 60%;
    right: -60%;
    height: 100%;
    z-index: 11;
}
.right-mask{
    position: fixed;
    z-index: 10;
    top: 70px;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    background: rgba(0,0,0,.6);
    border-radius: 10px;
    padding-top: 20px;
}
.article-item{
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    color: #bcbcbc;
}
.article-item:hover{
    color: rgb(167,32,57);
}
.item{
    padding: 30px 0 20px 20px;
    color: #585f69;
    margin-top: 10px;
    border-bottom: 1px solid #585f69;
    box-shadow: 10px 10px 50px;
    position: relative;
}
.item:hover{
    box-shadow:  10px 10px 50px #00B7FF;
}
.item>a{
    display: block;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.item .title{
    font-size: 20px;
    line-height: 1.5;
    font-size: 20px;
    height: 30px;
    margin: 10px 0;
}
.icon-biaoqian-:before{
    margin-right: 10px;
}
.auth{
    margin: 0 50px;
}
.item .arti_desc{
    padding: 10px;
}

.personl-content{
    flex: 0 0 20%;
}
.personl-content .publish{
    cursor: pointer;
    margin: auto;
    width: 200px;
    margin-top: 40px;
    padding: 10px;
    background: #00B7FF;
    color: #fff;
    text-align: center;
    font-size: 25px;
    display: block;
}

.personl-content .publish:hover{
    background: rgb(213,71,85);
}