body,h1,h2,h3,h4,h5,h6,p,ul{
  padding: 0;
  margin: 0;
}

.icon-dianying:before{
  font-size: 30px;
  vertical-align: middle;
}

a {
  color: #00B7FF;
}
.blank{ 
  clear:both; 
  overflow:hidden; 
  display:block; 
  overflow:hidden;
  height: 70px;
}

.common-head{
  font-size: 16px;
  color: #282828;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: height .5s ease,line-height .5s ease;
  height: 70px;
  line-height: 70px;
}

.header{
  list-style: none;
  float: right;
  padding-right: 40px;
}
.header li{
  float:left;
  margin: 0 10px;
}
.header a{
  color: #000;
  text-decoration: none;
}
.header li:hover>a{
  color: #00B7FF;
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.alertWin{
  width: 300px;
  min-height: 500px;
  background: #fff;
  text-align: center;
  z-index: 11;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.error,.pageSign{
  display: none;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
  text-align:center;
  z-index: 20;
}
.alertWin p{
  padding: 10px 0;
}
.alertWin p:first-child{
  padding-top: 30px;
}
.alertWin p input{
  box-sizing: border-box;
  width: calc(100% - 40px);
  box-shadow: none;
  margin: 10px 0 2px 0;
  height: 40px;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.alertWin input.btn{
  color: #fff;
  background: rgb(81, 170, 246);
}

.alertWin input.btn:hover{
  background: rgb(69, 97, 157);
}

.logobox{
  float: left;
}

.logobox img{
  margin-left:30px;
  width: 72px;
  border-radius: 50%;
}

.logo{
  width: 100px;
  height: 100px;
  margin: auto;
  background: url(/images/lu.jpg);
  background-size: 100%;
  border-radius: 50%;
  margin-top: -40px;
}

footer{
  background-color: #000;
}